html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.a-container{
    color: aliceblue;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.root-container{
    position: sticky;
    top: 0;
    z-index: 100;
    /*margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;*/
    padding: 1%;
    background-color: #242442;
}

.directory > label{
    cursor: pointer;
}

.directory > label:hover{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.list-container{
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    padding: 1%;
    background-color: #242442;
}

.folder-file{
    width: 100%;
    background-color: #2d2d52;
    border-radius: 15px;
}

.folder-file:hover{
    background-color: #363663
}

.folder-file > label{
    cursor: pointer;
    display: block;
}

.a-icon{
    width: 100%;
    height: auto;
    min-height: 68px;
    min-width: 68px;
}

.f-name{
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 6%;
    height: 20px;
}

.f-info{
    opacity: 0.6;
}

.invisible{
    display: none;
}