html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    --color-1: #242442;
    --color-2: #2d2d52;
    --color-3: #363663;
}

.a-container{
    color: aliceblue;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.root-container{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1%;
    background-color: var(--color-1);
}

.directory label{
    cursor: pointer;
}

.directory label:hover{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.container-upload {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#label-btn-upload {
    cursor: pointer;
}

#label-btn-upload:hover{
    font-weight: bold;
}

#uploading-info {
    display: none;
}

#uploading-progress {
    width: 100%;
    min-width: 100px;
    height: 7px;
    background-color: var(--color-2);
}

#uploading-progress div {
    width: 50%;
    height: 7px;
    background-color: aliceblue;
}

#file-to-upload {
    display: none;
}

#root-history label {
    margin-left: 5px;
}

.hidden-info {
    display: none;
}

.list-container{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    padding: 1%;
    background-color: var(--color-1);
}

.folder-file{
    width: 100%;
    background-color: var(--color-2);
    border-radius: 15px;
}

.folder-file:hover{
    background-color: var(--color-3)
}

.folder-file > label{
    cursor: pointer;
    display: block;
}

.a-icon{
    width: 100%;
    height: auto;
    min-height: 68px;
    min-width: 68px;
}

.f-name{
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 6%;
    height: 20px;
}

.f-info{
    opacity: 0.6;
}

.invisible{
    display: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--color-3);
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 100;
    right: 1%;
    bottom: 30px;
    border-radius: 8px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 5.5s;
    animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 5.5s;
  }
  
  @-webkit-keyframes snackbar-fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes snackbar-fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes snackbar-fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes snackbar-fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }